# OS
.DS_Store

# Logging
*.log
tmp
logs
logfile.txt

# Dependencies
.bundle
gems
bower_components
node_modules

# Release and build directories
archive
public

# Test
tests/visual/results
_reports
report.xml